<head>
        <meta charset="UTF-8">
        <title></title>
        <style>
            @import url('https://fonts.googleapis.com/css?family=Lobster');
            @import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
            @import url('https://fonts.googleapis.com/css?family=Coiny');
    
            
            @media (max-width: 800px) {
                h2{
                    font-size: 35px !important;
                }
                #background-text{
                    position: absolute;
                    top: 180px !important;
                }
            }
            body{
                overflow: hidden;
                margin: 0;
                padding: 0;
            }
            #background{
                background-image: url("background.jpg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 100%;
            }
            #background-text{
                top: 6%;
                position: absolute;
                text-align: center;
                width: 100%;
            }
            h2{
                font-family: 'Lobster';
                color: #e54949;
                font-size: 60px;
                font-weight: 1200;
            }
            #counter{
                background-color: rgba(0, 0, 0, 0.65);
                height: 200px;
                padding-top: 25px;
                font-family: 'Libre Baskerville';
                color: #a96;
            }
            #days{
                font-size: 75px;
            }
            #countdown{
                font-size: 30px;
            }
            .marcianito{
                position: relative;
                top: 20px;
                height: 80px;
            }
        </style>
        <script>
            setInterval(() => {
                var timeStart = new Date().getTime();
                var t = new Date();
                console.log(t.getDay()+'/'+t.getMonth()+'/'+t.getFullYear()+'  '+t.getHours()+':'+t.getMinutes()+':'+t.getSeconds());
                var timeEnd = new Date("January 24, 2020 18:00:00").getTime();
                var hourDiff = timeEnd - timeStart;
                var secDiff = hourDiff / 1000;
                var minDiff = hourDiff / 60 / 1000;
                var hDiff = hourDiff / 3600 / 1000;
                var dayDiff = hourDiff / 86400 / 1000;
                var humanReadable = {};
                humanReadable.days = Math.floor(dayDiff);
                humanReadable.hours = Math.floor(hDiff - 24 * humanReadable.days);
                humanReadable.minutes = Math.floor(minDiff - (60 * humanReadable.hours) - (1440 * humanReadable.days));
                humanReadable.seconds = Math.floor(secDiff - (60 * humanReadable.minutes) - (3600 * humanReadable.hours) - (86400 * humanReadable.days));
                document.getElementById('days').innerHTML = humanReadable.days.toString().padStart(2, '0')+' dias';
                document.getElementById('countdown').innerHTML = humanReadable.hours.toString().padStart(2, '0')+':'+
                                                            humanReadable.minutes.toString().padStart(2, '0')+':'+
                                                            humanReadable.seconds.toString().padStart(2, '0');
            }, 1000);
        </script>
    </head>
    <body>
        <iframe width="0" height="0" src="https://www.youtube.com/embed/YBRqvMAbHmI?autoplay=1" frameborder="0" allow="autoplay;"></iframe>
        <div id="background"></div>
        <div id="background-text">
            <h2><img src="marcianito.gif" class="marcianito">  Vamos a La Playa  <img src="marcianito.gif" class="marcianito"></h2>
            <div id="counter">
                <span id="days">0</span><br><br>
                <span id="countdown">--:--:--</span>
            </div>
        </div>
    </body>